.main {
	width: 95vw;
	position: relative;
	display: grid;
	gap: 10px;
	grid-template-columns: 2fr 2fr;
	left: 20px;
	right: 20px;
	grid-gap: 20px;
}
img {
	position: relative;
	height: 300px;
	width: auto;
}
@media only screen and (max-width: 768px) {
	.main {
		display: block;
	}
}
.productsContainer,
.customiseContainer {
	border: 2px solid black;
}
